.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  padding: 25px;
  border-radius: 2.5px;
}

.signContainer{
  display: flex;
  gap: 10px;
}

.signInContainer{
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.signInButtonsContainer{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-radius: 2.5px;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  align-items: center;
}

.signButton{
  background-color: rgb(129, 128, 128);
  color: white;
 
  border-radius: 2.5px;
  border: none;
  width: 100px;
  height: 40px;
  
}

.navBarContainer{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.navBarContainer img{
  object-fit: contain;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
